<h1>Create new task</h1><br>



  <form action="/tasks" method="post">
  Title: <input type="text" value="" name="title"><br>
  Description: <textarea name="description"></textarea><br>
  Company: <input type="text" value="" name="company"><br>
  
    <input type="submit" value="Create task">
</form>
